h1 {text-align: center;}

h2 {text-align: center;}

h3 {text-align: center;}

p {text-align: center;}

.Section1 {
    border: 5px outset gray;
    background-color: darkgray;
    margin: 35px;
}

table, th, td {
    border: 1px solid black;
    padding: 15px;
    text-align: left;
    font-size: 16px;
}
table.center{
    margin-left: auto;
    margin-right: auto;
}
.grid-container {
    display: grid;
    grid-template-columns: auto auto;
    gap: 10px;
    background-color: #555;
    padding: 10px;
  }
  .grid-item {
    background-color: rgba(255, 255, 255, 0.8);
    border: 1px solid rgba(0, 0, 0, 0.8);
    padding: 20px;
    font-size: 30px;
    text-align: center;
  }

.return {
    background-color: #555;
    color: white;
    text-decoration: none;
    padding: 15px 26px;
    position: absolute;
    top: 60px;
    left: 20px;
    display: inline-block;
    border-radius: 2px;
}

img {
    display: block;
    margin-left: auto;
    margin-right: auto;
}